@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgba(255, 255, 255, 1);
  color:rgba(46, 47, 66, 1);
  font-weight: 400;
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
}


